body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
}

.imperial-logo {
    max-width: 500px;
    height: auto;
}

.container {
    text-align: center;
    margin-top: -200px; /* Adjust margin to avoid overlap with logo */
}

.main-title h1 {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
}

.search-section {
    position: relative;
    display: inline-block;
}

.search-container {
    position: relative;
}

.search-box {
    width: 400px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.recent-searches {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 1;
}

.recent-searches p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.recent-searches p:hover {
    background-color: #f1f1f1;
}
.search-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #0055a6;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.search-button:hover {
    background-color: #004494;
}